h1 {
  margin-bottom: 0;
}

.heading {
  display: block;
  font-size: 48px;
  margin-bottom: 30px;
}

.error, .hint {
  font-size: 19px;
  display: block;
  font-weight: normal;
}

.error {
  color: red;
}

.hint {
  color: grey;
}
